fastapi
uvicorn[standard]

motor
pymongo

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart
pypdf
python-docx

openai
google-generativeai

python-dotenv
httpx

pytest
pytest-asyncio